/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
*/


h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


/*Navigation bar*/

.navbar-brand{
  margin-left:50px;
  
}
.navbar-nav {
            margin-left: 900px;
        }